//* exSumo Модальный алерт о кешбеке при переходе */
#go-alert-cashback-modal {
    a {
        color: #537dd6;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    article {
        justify-content: center;
        padding: 0 1.6em;
        color: #545454;
        font-size: 1.125em;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        word-wrap: break-word;
    }
    .modal-header {
        padding-left: 4em;
    }
    .modal-title {
        margin: auto;
    }
}