

#content {
  box-shadow: none !important;
  #vw-content-body-head{
    #block-utp{
      display: none;
    }
    a{
      color: #537dd6;
    }
  }
  li{
    strong{
      font-weight: 700 !important;
    }
  }
}
