#vw-content-text {
    font-size: 15px;
    color: #333333;
    a {
        text-decoration: none;
        color: #537dd6;
        &:hover {
            text-decoration: underline;
        }
    }
    p,li {
        font-weight: var(--bs-body-font-weight);
    }
    h2 {
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        color: #1d1e1e;
        &::after {
            content: '';
            border-bottom: 1px solid #c9d1d8;
            margin: 10px 0 16px;
            display: flex;
        }
    }
    h6 {
        color: #1d1e1e;
    }
    .ex-end-bottom {
        margin: 3rem -1.5rem 1.7rem;
        border-bottom: 3px solid #eaf3fa;
    }
    .clearfix {
        padding-bottom: 15px;
        clear: both;
    }
}