.ex-search-populars .ex-popular-block-list a.wrap-link {
  color: #818181;
  font-size: 12px;
  line-height: 26px;
  transition: 0.2s;
  text-decoration: none;
}
.ex-search-populars .ex-popular-block-list a.wrap-link:after {
  content: "";
  display: inline-block;
  font-size: 40px;
  color: #b8b8b8;
  line-height: 0;
  width: 3px;
  height: 3px;
  background: #b8b8b8;
  border-radius: 100%;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-right: 4px;
}
.ex-search-populars .ex-popular-block-list a.wrap-link:last-child {
  width: 0;
}
.ex-search-populars .ex-popular-block-title {
  background: #e3e8ea;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
}
.ex-search-populars .popular-bar {
  padding: 0;
  margin: -4px 0 20px;
  list-style: none;
}
.ex-search-populars .popular-bar li.vlt1-vlt2 {
  padding: 0;
  position: relative;
  border-bottom: 1px solid #c3c8d5;
}
.ex-search-populars .popular-bar li.vlt1-vlt2 a.wrap-link {
  display: block;
  padding: 8px 13px 5px 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  position: relative;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.ex-search-populars .popular-bar li.vlt1-vlt2 a.wrap-link:hover {
  background: #e2eaf5;
  padding-left: 5px;
}
.ex-search-populars .popular-bar li.vlt1-vlt2 a.wrap-link:before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: url(images/fone-active-popular-item.jpeg) 0 0 repeat;
  transition: opacity 0.2s ease-in-out;
  z-index: 2;
}
.ex-search-populars .popular-bar .item-name {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 2px 0 2px 23px;
  z-index: 3;
}
.ex-search-populars .popular-bar .sprites,
.ex-search-populars .popular-bar .popular-bar .data-icon {
  top: 3px;
}
.ex-search-populars .popular-bar .small-arrow {
  font-size: 1rem;
}
.ex-search-populars .bar-data .data-icon,
.ex-search-populars .popular-bar .data-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 3;
  line-height: 14px;
  text-align: center;
}
.ex-search-populars .widget_text_pop {
  background: #fff;
  margin-top: 25px;
  border-radius: 2px;
  display: block;
}
.ex-search-populars .widget_text_pop .pop_title {
  background: #e3e8ea;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
}
.ex-search-populars .widget_text_pop .link_box {
  padding: 15px;
}
.ex-search-populars .widget_text_pop .link_box a {
  color: #818181;
  font-size: 12px;
  line-height: 26px;
  transition: 0.2s;
}
.ex-search-populars .widget_text_pop .link_box a:hover {
  color: #26375c;
}
.ex-search-populars .widget_text_pop .link_box a:after {
  content: "";
  display: inline-block;
  font-size: 40px;
  color: #b8b8b8;
  line-height: 0;
  width: 3px;
  height: 3px;
  background: #b8b8b8;
  border-radius: 100%;
  margin-bottom: 4px;
  margin-left: 6px;
  margin-right: 4px;
}
.ex-search-populars .widget_text_pop .link_box a:last-child:after {
  display: none;
}

/*# sourceMappingURL=vw-search-populars.css.map */
