

.ex-search-populars {

  .popular-bar {
    margin: 10px 0 20px;

    li.vlt1-vlt2 {
      border-bottom: 1px solid #c3c8d5;
      a.wrap-link {
        white-space: nowrap;
      }
    } 
    .item-name { 
      padding: 2px 0 2px 20px; 
    }
  }

  .subtitle { 
    color      : #3b5998;
  }

  .only_desctop {
    display: none;
  }
}

.ex-popular-block-vlt {
  display: none;
}

