#vw-content-gallery-news {
    .carousel-item{
        display: revert;
    }
    .ex-left {
        background: url("images/arrow-gallery.png") no-repeat;
        background-size: contain;
        width: 12px;
        height: 20px;
        opacity: 0.6;
        transform: rotate(180deg);
        &:hover {
            opacity: 1;
        }
    }
    .ex-right {
        background: url("images/arrow-gallery.png") no-repeat;
        background-size: contain;
        opacity: 0.6;
        width: 12px;
        height: 20px;
        &:hover {
            opacity: 1;
        }
    }
    .ex-block-item {
        width: 241px;
        min-height: 135px;
        max-height: 241px;
        a.news-link {
            color: #17234e;
            text-decoration: none;
            &:hover {
                color: #297cb8;
            }
        }
        &:hover img.news-img {
            transform: scale(1.2);
            transition: all .4s ease-in-out;
        }
        @media (max-width: 1140px) {
            width: 300px;
        }
        span.news-title {
            color: #1b5279;
            font-size: 16px;
        }
    }
    .ex-news-item {
        cursor: pointer;
        width: 241px;
        img.news-img {
            transform: scale(1);
            transition: all .4s ease-in-out;
            width: 100% !important;
            height: auto;
            &:hover {
                transform: scale(1.2);
                transition: all .4s ease-in-out;
            }
        }
        @media (max-width: 1140px) {
            width: 300px;
        }
        @media (max-width: 768px) {
            width: 600px;
        }
    }
}
