.tooltipster-base {
  font-size: 13px;
  line-height: 18px;
}

.wrap-tooltip {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: default;
}
.wrap-tooltip .button-info {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-image: url(images/icons/icn_info_new.svg);
  background-size: 20px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: transparent;
  background-color: transparent;
}
.wrap-tooltip .tooltip {
  position: absolute;
  top: -29px;
  left: 100%;
  z-index: 10;
  width: 304px;
  padding: 0 0 0 26px;
  white-space: normal;
  display: none;
  pointer-events: none;
  opacity: initial;
}
.wrap-tooltip .tooltip .info-row {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #e1e2e4;
  color: #283346;
  margin: 0;
}
.wrap-tooltip .tooltip .info-row dt,
.wrap-tooltip .tooltip .info-row dd {
  float: left;
  width: 50%;
  margin: 0;
  padding: 4px 10px 4px 0;
  position: relative;
  line-height: 16px;
  font-size: 13px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap-tooltip .tooltip .info-row dd {
  padding-left: 12px;
  padding-right: 0;
  font-weight: 400;
}
.wrap-tooltip .tooltip .rating-star {
  margin: 0 15px 5px 3px;
  float: right;
}
.wrap-tooltip:hover .tooltip {
  display: block;
  pointer-events: all;
}
.wrap-tooltip .rating-star {
  width: 100px;
  overflow: hidden;
  margin: 0 0 5px;
  position: relative;
  height: 16px;
}
.wrap-tooltip .rating-star .list-star {
  width: 100%;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  overflow: hidden;
}
.wrap-tooltip .rating-star .list-star li.star {
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: top;
  background: url(images/bg-rating-gray.png) 0 0 no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
}
.wrap-tooltip .rating-star .list-star.star-active {
  z-index: 3;
}
.wrap-tooltip .rating-star .list-star.star-active li.star {
  background-image: url(images/bg-rating.png);
  background-color: #fff;
}

.tooltip-info {
  float: left;
  margin: -2px 0 0 -25px;
}
.tooltip-info .tooltip .tooltip-inner {
  border-radius: 12px;
  box-sizing: border-box;
  border: 2px solid #537dd6;
  padding: 10px 15px 5px;
  background: #fff;
  position: relative;
  box-shadow: 0 0 20px rgba(29, 84, 123, 0.34);
}
.tooltip-info .tooltip .tooltip-inner:before, .tooltip-info .tooltip .tooltip-inner:after {
  content: "";
  position: absolute;
  left: -22px;
  top: 30px;
  border-top: 0 solid transparent;
  border-bottom: 21px solid transparent;
  border-right: 20px dashed #537dd6;
  z-index: 2;
}
.tooltip-info .tooltip .tooltip-inner:after {
  border-bottom: 17px solid transparent;
  border-right: 18px dashed #fff;
  left: -18px;
  top: 32px;
  z-index: 3;
}
.tooltip-info .head-tooltip {
  display: block;
}
.tooltip-info .head-tooltip {
  display: flex;
  justify-content: space-between;
}
.tooltip-info .title-tooltip {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  margin: 0 3px 3px 0;
}
.tooltip-info .title-tooltip a {
  color: #3785d0;
  text-decoration: none;
}
.tooltip-info .title-tooltip a:hover {
  text-decoration: underline;
}
.tooltip-info .btn-info {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background-image: url(images/icons/icn_info_new.svg);
  background-size: 20px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}
.tooltip-info .tooltip-inner {
  max-width: 304px;
  text-align: left;
}

.wrap-badge {
  z-index: 1;
  margin: -1px 0 0 3px;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

/* icons */
.wrap-badge .data-badge,
.tooltip-legend .data-badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1px;
  text-align: center;
  color: #3c5999;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  vertical-align: middle;
}
.wrap-badge .data-badge_favorite,
.wrap-badge .data-badge__favorite,
.tooltip-legend .data-badge_favorite,
.tooltip-legend .data-badge__favorite {
  background-image: url(images/icons/icn_favorite.svg);
}
.wrap-badge .data-badge_have_cashback,
.tooltip-legend .data-badge_have_cashback {
  background-image: url(images/icons/icn_have_cashback2.svg);
}
.wrap-badge .data-badge_have_cashback.data-badge_const-2,
.tooltip-legend .data-badge_have_cashback.data-badge_const-2 {
  background-image: url(images/icons/icn_have_cashback1.svg);
}
.wrap-badge .data-badge_param_manual,
.tooltip-legend .data-badge_param_manual {
  background-image: url(images/icons/icn_manual.svg);
}
.wrap-badge .data-badge_param_cardverify,
.tooltip-legend .data-badge_param_cardverify {
  background-image: url(images/icons/icn_cardverify.svg);
}
.wrap-badge .data-badge_param_verified,
.tooltip-legend .data-badge_param_verified {
  background-image: url(images/icons/icn_verified.svg);
}
.wrap-badge .data-badge_param_verifying,
.tooltip-legend .data-badge_param_verifying {
  background-image: url(images/icons/icn_verifying.svg);
}
.wrap-badge .data-badge_param_floating,
.tooltip-legend .data-badge_param_floating {
  background-image: url(images/icons/icn_floating.svg);
}
.wrap-badge .data-badge_param_is_wallet,
.tooltip-legend .data-badge_param_is_wallet {
  background-image: url(images/icons/icn_wallet.svg);
}
.wrap-badge .data-badge_param_is_mediator,
.tooltip-legend .data-badge_param_is_mediator {
  background-image: url(images/icons/icn_is_mediator.svg);
}
.wrap-badge .data-badge_param_reg_need,
.tooltip-legend .data-badge_param_reg_need {
  background-image: url(images/icons/icn_reg_need.svg);
}
.wrap-badge .data-badge_param_juridical,
.tooltip-legend .data-badge_param_juridical {
  background-image: url(images/icons/icn_juridical.svg);
}
.wrap-badge .data-badge__confirmed,
.tooltip-legend .data-badge__confirmed {
  background-image: url(images/icons/icn_confirmed.svg);
}
.wrap-badge .data-badge_minfee,
.tooltip-legend .data-badge_minfee {
  background-image: url(images/icons/icn_minfee.svg);
}
.wrap-badge .data-badge_param_is_cities,
.tooltip-legend .data-badge_param_is_cities {
  background-image: url(images/icons/icn_is_cities.svg);
}
.wrap-badge .data-badge_param_stock_text,
.tooltip-legend .data-badge_param_stock_text {
  background-image: url(images/icons/icn_gifts.png);
}

.wrap-badge .tooltip-gifts,
.inner-table .tooltip-gifts,
.tooltip-legend .tooltip-gifts {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 0.1em;
  vertical-align: -4px;
  background-image: url(images/icons/icn_gifts.png);
}

table .disabled td > .inner-table .wrap-badge {
  opacity: 0.45;
}

tr:hover .tooltip .data-badge {
  mix-blend-mode: normal;
  margin-top: 3px;
}

/*# sourceMappingURL=vw-tooltip.css.map */
