//@import url("../vendor/fortawesome/font-awesome/less/fontawesome.less");
//@import url("../vendor/fortawesome/font-awesome/less/solid.less");
/*
$sumo-color-header: #2e3039;
$sumo-color-header-h1: #232323;
$text-default: #333;
!* default colors sumo *!
$primary: 50, 92, 240;
$success: 66, 183, 42;
$secondary: 162, 163, 162;
$info: 83, 125, 214;
$warning: 0;
$danger: 153, 80, 80;
$black: 51, 51, 51;
$carousel-control-color: red;

$sumo-colors: (
        primary: #325cf0,
        primary-white: #325cf0,
        table-white: #537dd6,
        table: #537dd6,
        success: #42b72a,
        success-white: #42b72a,
        success-secondary: rgba(66, 183, 42, .2),
        link: #537dd6,
        text: $text-default,
        text-secondary: #a2a3a3,
        danger: #995050,
        red: red
);
!* default font-size sumo *!
$sumo-size: (
        table-text: 13px,
        text: 16px,
        h1: 32px,
        h2: 22px,
        h3: 18px,
        h4: 18px,
        h5: 14px
)!*
  $sumo-blue-4: #2d4475;
  $sumo-blue-3: #3b5998;
  $sumo-blue-1: #2197d5;
  $sumo-green-3: #4a6b46;
  $sumo-green-2: #589950;
  $sumo-green-1: #e9fae7;
  $sumo-red-1: #eb5757;
*!*/

