/*
$sumo-color-header: #2e3039;
$sumo-color-header-h1: #232323;
$text-default: #333;
!* default colors sumo *!
$primary: 50, 92, 240;
$success: 66, 183, 42;
$secondary: 162, 163, 162;
$info: 83, 125, 214;
$warning: 0;
$danger: 153, 80, 80;
$black: 51, 51, 51;
$carousel-control-color: red;

$sumo-colors: (
        primary: #325cf0,
        primary-white: #325cf0,
        table-white: #537dd6,
        table: #537dd6,
        success: #42b72a,
        success-white: #42b72a,
        success-secondary: rgba(66, 183, 42, .2),
        link: #537dd6,
        text: $text-default,
        text-secondary: #a2a3a3,
        danger: #995050,
        red: red
);
!* default font-size sumo *!
$sumo-size: (
        table-text: 13px,
        text: 16px,
        h1: 32px,
        h2: 22px,
        h3: 18px,
        h4: 18px,
        h5: 14px
)!*
  $sumo-blue-4: #2d4475;
  $sumo-blue-3: #3b5998;
  $sumo-blue-1: #2197d5;
  $sumo-green-3: #4a6b46;
  $sumo-green-2: #589950;
  $sumo-green-1: #e9fae7;
  $sumo-red-1: #eb5757;
*!*/
:root {
  --bs-font-sans-serif: Roboto, "Helvetica Neue", system-ui, -apple-system, "Segoe UI", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-weight: 330;
  --bs-body-font-size: 16px;
  --bs-body-line-height: 25px;
  --bs-body-color: #333;
  --bs-body-bg: #eaf3fa;
  --bs-primary-rgb: 50, 92, 240;
  --bs-success-rgb: 66, 183, 42;
  --bs-secondary-rgb: 162, 163, 163;
  --bs-info-rgb: 83, 125, 214;
  --bs-primary-rgb: 83, 125, 214;
  --bs-black-rgb: 43, 48, 57;
  --bs-danger-rgb: 255, 0, 0;
  --bs-bg-opacity: #eaf3fa;
  --bs-button-primary: #537dd6;
}

.pagination {
  --bs-pagination-active-bg: #537dd6;
  --bs-pagination-active-border-color: #537dd6;
  --bs-pagination-active-color: white;
}

form .btn,
button {
  --bs-btn-hover-bg: #537dd6;
  --bs-btn-bg: #537dd6;
  --bs-info-rgb: 83, 125, 214;
  --bs-button-primary: #537dd6;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-17 {
  font-size: 17px;
}

.btn:disabled {
  opacity: 0.5 !important;
  transition: opacity 0.5s ease;
}

body {
  color: #333333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
body a {
  color: #192540;
  text-decoration: none;
}
body a.link-underline:hover {
  text-decoration: underline;
}

#wrapped {
  padding-inline: 24px;
}
#wrapped #sidebar {
  flex-shrink: 0;
  z-index: 105;
  padding-right: 1.5rem;
}
#wrapped #content {
  flex-shrink: 1;
  background: #fdfdfd;
  padding-bottom: 7rem;
  z-index: 10;
  position: relative;
}
#wrapped #content .breadcrumb-item.active {
  font-weight: 500;
}

.fw-500 {
  font-weight: 500 !important;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  opacity: 1;
}

.showInfo .txt-direct-obmen {
  font-size: 15px;
}

.breadcrumb-item.active {
  color: #000 !important;
}

.font-sans {
  font-family: sans-serif;
}

.profile-page tbody tr {
  line-height: 21.5px;
}

.modal-auto {
  width: auto;
}

@media (max-width: 992px) {
  body.stopscroll #wrapped {
    position: absolute;
    top: 0;
  }
  body.stopscroll #wrapped #sidebar {
    margin-top: 0;
  }
  body.page-obmen #content {
    padding-top: 0 !important;
    margin-top: -10px;
  }

  #wrapped {
    padding-inline: 1px;
  }
  #wrapped #content {
    background: #eaf3fa;
    padding-bottom: 2rem;
  }
  #wrapped #content .showInfo .txt-direct-obmen {
    font-size: 14px;
    font-weight: 700;
  }
  #wrapped #content .breadcrumb-item.active {
    font-weight: bolder;
  }
  #wrapped #sidebar {
    padding-right: 1rem;
  }

  form .btn,
button {
    --bs-btn-hover-bg: #325cf0;
    --bs-btn-bg: #325cf0;
    --bs-info-rgb: 50, 92, 240;
    --bs-button-primary: #325cf0;
  }
}

/*# sourceMappingURL=style.css.map */
