img.lazy {
    &[src=""] {
        //    background: rgba(73, 92, 161, 0.5);
        //    border: 0px;
        overflow: hidden;
        position: relative !important;
        &:before {
            content: " ";
            display: block;
            width: 100%;
            height: calc(100% + 0px);
            //  background-color: rgb(230, 230, 230, 0.5);
            //  border: 1px dotted rgb(200, 200, 200);
        }
        &:after {
            content: " Loading ... " attr(alt);
            display: block;
            color: rgb(100, 100, 100);
            position: absolute;
            top: 5px;
            left: 5px;
            text-align: center;
        }
    }
}