@charset "UTF-8";
#exchangesTable {
  width: 100%;
}
#exchangesTable .currency-block {
  max-width: 50%;
  overflow: hidden;
  text-wrap: nowrap;
}
#exchangesTable .currency-block.cell-give {
  position: relative;
}
#exchangesTable .currency-block.cell-get {
  position: absolute;
}
#exchangesTable tr.disabled td:not(:last-child) {
  opacity: 0.5;
}
#exchangesTable .list-group-custom {
  min-height: 140px;
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
}
#exchangesTable .list-group-custom .wrap-badge {
  z-index: 10000000;
  position: sticky;
}
#exchangesTable .list-group-custom:last-child:after {
  opacity: 0 !important;
}
#exchangesTable .list-group-custom:after {
  content: "";
  height: 2px;
  width: 92%;
  position: absolute;
  bottom: 0;
  background: #495ca1;
  opacity: 0.1;
}
#exchangesTable .list-group-custom td.cell.cell-rezerv {
  position: absolute;
  bottom: 10px;
  font-size: 13px;
}
#exchangesTable .list-group-custom td.cell.cell-rezerv span {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /*color: #81899f;*/
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews {
  position: absolute;
  display: flex;
  right: 16px;
  top: 8px;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews:before {
  content: "Отзывы";
  font-size: 11px;
  /*color: #81899f;*/
  margin-right: 5px;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews .text-left.text-red {
  font-size: 13px;
  color: #3D3E54;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews .text-left.text-red.single {
  padding-inline: 5px;
  background: rgba(255, 13, 33, 0.2);
  border-radius: 5px;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews .text-left.text-red:not(.single):not(.empty) {
  padding-inline: 5px;
  background: rgba(255, 13, 33, 0.2);
  border-radius: 5px 0 0 5px;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews .text-right.text-green {
  font-size: 13px;
  color: #3D3E54;
  font-weight: 400;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews .text-right.text-green.single {
  padding-inline: 5px;
  background: rgba(66, 183, 42, 0.2);
  border-radius: 5px;
}
#exchangesTable .list-group-custom td.cell.cell-comments .block-reviews .text-right.text-green:not(.single):not(.empty) {
  padding-inline: 5px;
  background: rgba(66, 183, 42, 0.2);
  border-radius: 0 5px 5px 0;
}
#exchangesTable .list-group-custom td.cell button.button-exchange {
  position: absolute;
  right: 17px;
  bottom: 17px;
}
#exchangesTable .list-group-custom td.cell.cell-get var, #exchangesTable .list-group-custom td.cell.cell-give var {
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;
  float: left;
  margin-right: 3px;
  font-style: normal;
  font-family: "Roboto", Tahoma, Helvetica, sans-serif;
}
#exchangesTable .list-group-custom td.cell.cell-get span, #exchangesTable .list-group-custom td.cell.cell-give span {
  font-size: 11px;
  color: #454545;
}
#exchangesTable .list-group-custom td.cell.cell-get var:before {
  content: "→";
  width: 24px;
  font-size: 1.2rem;
  line-height: 20px;
  float: left;
  opacity: 0.5;
}
#exchangesTable .list-group-custom td.cell.cell-changer .name-table {
  font-weight: 400;
}
#exchangesTable .list-group-custom td.cell.cell-changer .wrap-badge span:not(.data-badge_have_cashback):not(.data-badge_param_stock_text) {
  filter: grayscale(100%);
  --webkit-filter: grayscale(100%);
}

#index_table {
  margin-inline: -17px;
}

#obmen-table .obmen_not_table {
  margin-inline: 1rem;
}

/*# sourceMappingURL=vw-content-table-mob.css.map */
