// /* Эти стили для страницы /obmen/.../ для ПК*/
#obmen-table {
    #exchangesTable {
        tr.favorite-row {
            .green-line {
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
                height: 100%;
                background: #42b72a;
            }
            .name-table {
                font-weight: 700;
                &:after {
                    content: '';
                    position: relative;
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    margin-left: 1em;
                    vertical-align: -1px;
                    //background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTQgMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbD0iIzQyQjcyQSI+CjxwYXRoIGQ9Ik0yLjAgMTMuOUgwLjZDMC4yIDEzLjkgMCAxMy43IDAgMTMuMlY2LjlDMCA2LjUgMC4yIDYuMiAwLjYgNi4ySDIuMEMyLjUgNi4yIDIuNyA2LjUgMi43IDYuOVYxMy4yQzIuNyAxMy43IDIuNSAxMy45IDIuMCAxMy45WiBNMTIuNiA1LjVIOS4xVjMuNEM5LjEgMi4zIDguNCAwLjYgNy4zIDAuMEM2LjggLTAuMSA2LjMgMC4xIDYuMyAwLjZWMy40TDQuMiA2LjBWMTMuMkw0LjQgMTMuM0M1LjEgMTMuNyA2LjAgMTMuOSA3LjAgMTMuOUgxMS45QzEyLjYgMTMuOSAxMy4zIDEzLjMgMTMuMyAxMi41TDE0LjAgNi45QzE0LjAgNi4yIDEzLjMgNS41IDEyLjYgNS41WiIvPgo8L3N2Zz4K");
                    background-image: url(images/icon-hand-thumbs-up.svg);
                }
            }
        }
        tr.alert,
        tr.alert-row {
            color: #cbcbd6;
            .currency,
            &:hover .currency sub,
            .text-green,
            .text-red {
                color: #cbcbd6;
            }
            .inner-table .data-badge,
            .btn-info {
                opacity: 0.2;
            }
        }
    }
}
